<!doctype html>
<html>
    <head>
        <title>home</title>
    </head>
    <body>
        <h1>Library Management System</h1>
        <ul>
            <li><a href = '/showallbooks'>Show all books</a></li>
            <li><a href = '/addbook'>Add book to inventory</a></li>
            <li><a href = '/deletebook'>Delete book from inventory</a></li>
            <li><a href = '/borrowbook'>Borrow book</a></li>
            <li><a href = '/returnbook'>Return book</a></li>
            <li><a href = '/report'>Reports</a></li>
        </ul>
    </body>
</html>