<!doctype html>
<html>
    <head>
        <title>reserve book</title>
    </head>
    <body>
        <h1>Library Management System</h1>
        <a href = '/home'> go home</a>
        <h2>Reserve book</h2>
        <form action '/reserve' method = 'POST'>
            <label for = 'person'>Person:</lable><br>
                <input type = 'text' name = 'person' id = 'person'></input>
            <label for = 'email'>Enter email</label><br>
                <input type = 'email' name = 'email' id = 'email'></input><br><br>
            <label for = 'book_name'>Book name:</label><br>
            <input type = 'text' name = 'book_name' id = 'book_name'></input><br><br>
            <input type = 'submit' value = 'submit'>
            </body>
            </html>