<!doctype html>
<html>
    <head>
        <title>forgot password</title>
    </head>
    <body>
        <h1>Library Management System</h1>
        <h2>forgot password</h2>
        <form action = '/verifyotp' method = 'POST'>
            <label for = 'emai'>Email:</label><br>
            <input type ='email' name = 'email' id = 'email'></input><br><br>
            <input type = 'submit' value = 'Reset password'></input><br><br>
            <a href = 'user.html'>return to login</a>
        </form>
