<!DOCTYPE html>
<html>
    <head>
        <title>return book</title>
    </head>
    <body>
        <h1>Library Management System</h1>
        <a href = '/home'>go home</a>
        <h2>Return book</h2>
        <h3>Enter detials</h3>
        <form action = '/returnbookdata' method = 'POST'>
            <lable for = 'email'>Email:</lable><br>
            <input type = 'email' name = 'email' id = 'email'></input><br><br>
            <input type = 'submit' value = 'submit'></input>
        </form>
    </body>
    </html>