{% extends 'base.html' %}
{% block title %}change password{% endblock %}
{% block head%}
<link rel = "stylesheet" href = "/static/form_style.css">
{% endblock %}
{%block body %}
<div style = "padding: 40px"></div>
<div class = "form-field">
<form  action = '/changepassword' method = 'POST'>
    <p class = "sub-heading">Change password</p>
    <label for = 'password'>New password:</label><br>
    <input type = 'password' name = 'new_password' id = 'password'></input><br><br>
    <input type = 'submit'><br><br>
</form>
</div>
{% endblock %}