{% extends "base.html"%}
{% block title %}forgot password{% endblock %}
{% block head%}
<link rel = "stylesheet" href = "/static/form_style.css">
{% endblock %}
{%block body %}
<div style = "padding: 40px"></div>
<div class = "form-field">
    {% if session['wrong_email'] %}
    <div style = 'color: red;'> {{ session['wrong_email'] }} </div>
    {% endif %}
    <h2 class = "sub-heading">forgot password</h2>
    <form action = '/generateotp' method = 'POST'>
    <label for = 'email'>Email: </label><br>
    <input type = 'email' name = 'email' id = 'email' required></input><br><br>
    <input type = 'submit' value = 'continue'><br><br>
    </form>
</div>
{% endblock %}