{% extends "base.html"%}
{% block title%}Login{% endblock%}
{%block head%}
<link rel = "stylesheet" href = "/static/form_style.css">
{% endblock %}
{%block body %}
<div style = "padding: 40px"></div>
<div class = "form-field">
    {% if session['wrong_credentials'] %}
    <div style = "color:red;"> {{ session['wrong_credentials'] }} </div>
    {% endif %}
    <h2  class = "sub-heading">Login</h2>
    <form action = '/authentication' method = 'POST'>
        <label for = 'email'>Email:</label><br>
        <input type = 'email' name = 'email' id = 'email' required></input><br><br>
        <label for = 'password'>Password:</label><br>
        <input type = 'password' name = 'password' id = 'password' required></input><br><br>
        <a href = '/reset'>forgot password</a><br><br>
        <a href = '/createaccount'>create account</a><br><br>
        <input type = 'submit' value = 'Login'><br><br>
    </form>
</div>
{% endblock %}