{% extends 'base.html' %}
{% block title %}verify otp{% endblock %}
{%block head%}
<link rel = "stylesheet" href = "/static/form_style.css">
{% endblock %}
{% block body %}
<div style = "padding: 40px"></div>
<div class = "form-field">
    {% if session['wrong_otp'] %}
    <div style = 'color: red;'>{{ session['wrong_otp'] }}</div>
    {% endif %}
    <h2 class = "sub-heading">verify otp</h2>
    <form action = '/forgotpassword' method = 'POST'>
        <label for = 'otp'>OTP:</label><br>
        <input type = 'tel' pattern = '[0-9]{6}' name = 'otp' id = 'otp' required></input><br><br>
        <input type = 'submit' value = 'verify'></input><br><br>
    </form>
</div>
{% endblock %}